<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <!-- font-awesome -->
    <link href="https://fonts.cdnfonts.com/css/minecraft-3?styles=41305" rel="stylesheet"/>
    <link href="https://fonts.cdnfonts.com/css/pusab" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <!--styles -->
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
    <button class="sidebar-toggle">
        <i class="fas fa-bars"></i>
    </button>
    <aside class="sidebar">
        <div class="sidebar-header">
            <button class="close-btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <!-- statistics -->
        <section class="questions">
            <!-- title -->
            <div class="titleQuestions">
                <h2>Statistics</h2>
            </div>
                <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="question-title">
                        <p>Total time paused</p>
                        <button type="button" class="question-btn">
                            <span class="plus-icon">
                                <i class="far fa-plus-square"></i>
                            </span>
                            <span class="minus-icon">
                                <i class="far fa-minus-square"></i>
                            </span>
                        </button>
                    </div>
                    <!-- question text -->
                     <div class="question-text">
                        <p>Time paused</p>
                     </div>
                </article>
                <!-- end single question -->
                <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="question-title">
                        <p>Total timers started</p>
                        <button type="button" class="question-btn">
                            <span class="plus-icon">
                                <i class="far fa-plus-square"></i>
                            </span>
                            <span class="minus-icon">
                                <i class="far fa-minus-square"></i>
                            </span>
                        </button>
                    </div>
                    <!-- question text -->
                     <div class="question-text">
                        <p>Timers started</p>
                     </div>
                </article>
                <!-- end single question -->
                <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="question-title">
                        <p>Total timers finished</p>
                        <button type="button" class="question-btn">
                            <span class="plus-icon">
                                <i class="far fa-plus-square"></i>
                            </span>
                            <span class="minus-icon">
                                <i class="far fa-minus-square"></i>
                            </span>
                        </button>
                    </div>
                    <!-- question text -->
                     <div class="question-text">
                        <p>Timers finished</p>
                     </div>
                </article>
                <!-- end single question -->
                <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="question-title">
                        <p>Total timers reset</p>
                        <button type="button" class="question-btn">
                            <span class="plus-icon">
                                <i class="far fa-plus-square"></i>
                            </span>
                            <span class="minus-icon">
                                <i class="far fa-minus-square"></i>
                            </span>
                        </button>
                    </div>
                    <!-- question text -->
                     <div class="question-text">
                        <p>Timers reset</p>
                     </div>
                </article>
                <!-- end single question -->
                <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="question-title">
                        <p>Total elapsed time this session</p>
                        <button type="button" class="question-btn">
                            <span class="plus-icon">
                                <i class="far fa-plus-square"></i>
                            </span>
                            <span class="minus-icon">
                                <i class="far fa-minus-square"></i>
                            </span>
                        </button>
                    </div>
                    <!-- question text -->
                     <div class="question-text">
                        <p>Time elapsed this session</p>
                     </div>
                </article>
                <!-- end single question -->
                 <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="question-title">
                        <p>User's session number</p>
                        <button type="button" class="question-btn">
                            <span class="plus-icon">
                                <i class="far fa-plus-square"></i>
                            </span>
                            <span class="minus-icon">
                                <i class="far fa-minus-square"></i>
                            </span>
                        </button>
                    </div>
                    <!-- question text -->
                     <div class="question-text">
                        <p>Session number</p>
                     </div>
                </article>
                <!-- end single question -->
                <!-- single question -->
                <article class="question">
                    <!-- question title -->
                    <div class="question-title">
                        <p>User's lifetime elapsed time</p>
                        <button type="button" class="question-btn">
                            <span class="plus-icon">
                                <i class="far fa-plus-square"></i>
                            </span>
                            <span class="minus-icon">
                                <i class="far fa-minus-square"></i>
                            </span>
                        </button>
                    </div>
                    <!-- question text -->
                     <div class="question-text">
                        <p>Lifetime time elapsed</p>
                     </div>
                </article>
                <!-- end single question -->
            </div>
        </section>
        <!-- social media -->
        <ul class="social-icons">
            <li>
            <a href="https://www.twitter.com">
                <i class="fab fa-facebook"></i>
            </a>
            </li>
            <li>
            <a href="https://www.twitter.com">
                <i class="fab fa-twitter"></i>
            </a>
            </li>
            <li>
            <a href="https://www.twitter.com">
                <i class="fab fa-behance"></i>
            </a>
            </li>
            <li>
            <a href="https://www.twitter.com">
                <i class="fab fa-linkedin"></i>
            </a>
            </li>
            <li>
            <a href="https://www.twitter.com">
                <i class="fab fa-sketch"></i>
            </a>
            </li>
        </ul>
        <ul class="social-icons">
            <li>
                <a class="btn audio">
                    <audio id="play-audio" src="audio.mp3"></audio>
                    <i class="fas fa-compact-disc"></i>
                </a>
            </li>
        </ul>
    </aside>
    <nav>
        <div class="nav-center">
            <h4>homepage</h4>
            <ul class="nav-links">
                <li>
                    <a href="homepage.html">homepage</a>
                </li>
                <li>
                    <a href="login.html">login</a>
                </li>
                <li>
                    <a href="register.html">register</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- hero -->
    <header class="hero">
        <div class="banner">
            <h1>
                POMODORO TIMER
            </h1>
            <span id="timer-hours">0</span>
            <span id="timer-colon-left">:</span>
            <span id="timer-minutes">25</span>
            <span id="timer-colon-right">:0</span>
            <span id="timer-seconds">0</span>
            <div class="button-container">
                <button class="btn btn-large start">start</button>
                <button class="btn btn-large pause">pause</button>
                <button class="btn btn-large clear">clear</button>
            </div>
            <div class="button-container">
                <button class="btn +hour">➕hour</button>
                <button class="btn +minute">➕minute</button>
                <button class="btn +second">➕second</button>
            </div>
            <div class="button-container">
                <button class="btn -hour">➖hour</button>
                <button class="btn -minute">➖minute</button>
                <button class="btn -second">➖second</button>
            </div>
            <div>
                <button class="btn default">save as default</button>
                <button class="btn reset">reset to default</button>
            </div>
        </div>
    </header>
    <!-- end of hero -->
    <!-- javascript -->
     <script src="../static/js/homepage.js"></script>
</body>
</html>
